@model ProjectTracker.Database.Concrete.Demand

@{
    ViewData["Title"] = "Details";
}

<h1>Talepler</h1>

<div>
    <h4>Detay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Proje Adı")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Kullanıcı")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Firma İlgili")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyAbout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Talep")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Demander)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Yapılan İşlem")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Execution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Oluşturulma Tarihi")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Bitiş Tarihi")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Tamamlandı")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situation)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a class="btn btn-outline-secondary" asp-action="Index">Geri Dön</a>
</div>
