@model ProjectTracker.Database.Concrete.Demand

@{
    ViewData["Title"] = "Edit";
}

<h1>Talepler</h1>

<h4>Düzenle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" hidden="hidden">
                @Html.DisplayName("Proje")
                <input asp-for="ProjectId" class="form-control" />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Kullanıcı")
                <select asp-for="User.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="User.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Firma İlgili")
                <input asp-for="CompanyAbout" class="form-control" />
                <span asp-validation-for="CompanyAbout" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Talep")
                <input asp-for="Demander" class="form-control" />
                <span asp-validation-for="Demander" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Yapılan İşlem")
                <input asp-for="Execution" class="form-control" />
                <span asp-validation-for="Execution" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Oluşturma Tarihi")
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Bitiş Tarihi")
                <input asp-for="FinishDate" class="form-control" />
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Tamamlandı")
                @Html.CheckBox("Situation")

            </div>

            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-outline-primary" />
                <a class="btn btn-outline-secondary" asp-action="Index">Geri Dön</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
